<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mbuthi Name-Card</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="sub-container">
            <img src="static/images/mbuthi.jpg">
        </div>
        <p class="main-p">Mbuthi Mungai</p>
        <p class="main-p s-p">Software Engineer</p>
        <div class="link-container">
            <a href="https://www.linkedin.com/in/mbuthi-mungai-a1b6a221a" target="_blank">
                <img src="static/images/linkedin.png">
            </a>
            <a href="https://twitter.com/mbuthi_mungai" target="_blank">
                <img src="static/images/twitter.png">
            </a>
            <a href="https://web.facebook.com/profile.php?id=100063754292970" target="_blank">
                <img src="static/images/facebook.png">
            </a>
        </div>
    </div>
</body>
</html>
